{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block body %}
<html>
<body>

<p>When you submit the form, a function is triggered which alerts some text.</p>

<form action="/tr.py" method="post" onsubmit="myFunction()">
               First Name: <input type="text" name="first_name">  <br />
               Last Name: <input type="text" name="last_name" />
               <input type="submit" value="Submit" /> <br />
           </form>

<script>
function myFunction() {
  alert("The name was recorded.");
}
</script>

</body>
</html>
{% endblock %}
